@page
@using pkatu_pipeline_assignment.Services
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Patrick Kearns L00186459</h1>
    <br /><br />
    <p>The square root of 150 = <span id="selTest">@(new CalcService().GetSquareRoot(150))</span></p>
</div>
